* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Dosis", "Open Sans", sans-serif;
  font-size: 16px;
}

button {
  cursor: pointer;
}

header {
  position: absolute;
  z-index: 4;
  padding-left: 11vw;
  padding-top: 2vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header img {
  margin-left: 4vw;
}
.menubar {
  width: 50vw;
  font-size: 16px;
  padding: 0 10px;
  text-align: center;
}
.menubar li {
  display: inline-block;
  padding: 15px;
}
.menubar a {
  text-decoration: none;
  color: white;
}
.menubar a:hover {
  color: #f16522;
}
.welcomescreen {
  height: 88vh;
  position: relative;
  display: flex;
  flex-direction: row;
}

.welcomescreen-about {
  color: white;
  font-size: 40px;
  line-height: 1.5em;
  width: 50vw;
  background: url(/img/back2.jpg) top no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10px;
  padding-left: 15vw;
}
.welcomescreen-about p {
  font-size: 18px;
  line-height: 45px;
  letter-spacing: 1px;
}
.welcomescreen-about span {
  color: white;
  font-size: 50px;
  line-height: 1px;
  margin-bottom: 50px;
}
.navigate-btn__bottom {
  position: absolute;
  bottom: 5vh;
  left: 47.5vw;
}
.navigation-block {
  width: 50vw;
  background: linear-gradient(0deg, rgb(41 49 51 / 90%), rgb(41 49 51 / 90%)), url("/img/back3.jpg") 100% no-repeat;
  display: flex;
  align-items: center;
}
.navigation-block__points {
  margin-left: 10px;
  width: 3px;
  font-size: 10px;
}
.navigation-block__points i {
  margin: 4px;
}
.navigation-block__points a {
  color: white;
}
.navigation-block__points a:hover {
  color: #f16522;
}

.clients {
  border: solid 1px black;
  border-right: none;
  border-left: none;
  -webkit-box-shadow: 0 -1px 4px 1px black;
  box-shadow: 0 -1px 4px 1px black;
  background-color: white;
  height: 12vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  overflow: hidden;
}

.clients__menu {
  font-size: 1.5em;
  font-weight: bold;
  background-color: #f8f8f8;
  min-height: 100%;
  padding-left: 15vw;
}

.clients__menu h2 {
  margin-right: 2vw;
  margin-top: 2vh;
}

.clients__menu p {
  color: #f16522;
  font-size: 13px;
  font-family: "Open Sans";
}

.clients__menu i {
  margin-left: 5px;
  margin-top: 3px;
}

.clients__logos {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.clients__logos img {
  padding: 20px;
  -webkit-filter: grayscale(53);
  filter: grayscale(53);
  opacity: 40%;
  max-width: 100%;
  padding-left: 3vw;
}

.hello {
  height: 665px;
  color: #3d3d3d;
  background: url("/img/boy.jpg") no-repeat;
  background-size: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  padding-top: 5vw;
}
.hello__inner {
  width: 50vw;
  font-size: 25px;
  font-weight: bold;
  padding-right: 2vw;
}
.hello__inner h2 {
  font-size: 50px;
}
.hello__inner h3 {
  text-transform: uppercase;
}

.hello__inner p {
  margin-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
span {
  font-weight: bold;
  font-size: 60px;
  color: #f16522;
  line-height: 10px;
}
.hello__btns {
  text-decoration: none;
  color: #fff;
  background-color: #3d3d3d;
  padding: 20px 20px 20px 30px;
  font-family: "Open Sans";
  letter-spacing: 5px;
  width: 15vw;
  text-decoration: none;
  color: #fff;
  display: block;
  margin-top: 5vh;
  font-size: 14px;
  font-weight: 400;
}

.services {
  height: 615px;
  display: flex;
  color: #3d3d3d;
  padding: 0 10%;
}
.services__iner {
  font-size: 25px;
  font-weight: bold;
  flex-basis: 50%;
  padding-top: 7vh;
  padding-left: 8vw;
  line-height: 1.5em;
}
.services__iner h2 {
  font-size: 50px;
}
.services__iner h3 {
  text-transform: uppercase;
}
.services__iner p {
  margin-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.services__icons {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.services__icons_p {
  border: solid 1px;
  border-color: #e7eaed;
  height: 16vw;
  width: 16vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.services__icons p {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 15px;
}

.recentwork {
  height: 835px;
  background-color: #28282e;
}
.recenwork__inner {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.recenwork__inner h2 {
  font-size: 40px;
  color: white;
  letter-spacing: 5px;
}
.recenwork__inner p {
  font-size: 14px;
  margin-top: 5vh;
  color: #7d7d8b;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  line-height: 2em;
}
.recenwork__content {
  display: flex;
  flex-direction: column;
  background: url("/img/hands.png") no-repeat;
  height: 70%;
  background-position: 0 100%;
}
.recenwork__content h3 {
  color: white;
  font-size: 34px;
  margin-left: 50vw;
  margin-top: 15vh;
}
.recenwork__content p {
  color: #7d7d8b;
  margin-left: 50vw;
  margin-top: 2vh;
}
.recenwork__content ul {
  color: #7d7d8b;
  margin-left: 50vw;
  column-count: 2;
  list-style-type: none;
  width: 25%;
  font-weight: 600;
  line-height: 2em;
}

.recenwork__content li {
}
.recenwork__content li:hover {
  color: #f16522;
}
.recenwork__content span {
  color: #42424a;
  font-size: 10px;
  margin-left: 50vw;
  letter-spacing: 2px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

@media screen and (max-width: 1420px) {
  .rightside__menubar ul {
    font-size: 10px;
  }
  .leftside__text {
    font-size: 30px;
    margin-top: 25vh;
  }
  .leftside__text1 {
    font-size: 12px;
    max-width: 90%;
  }
  .clients__menu {
    font-size: 0.8em;
  }
  .clients__menu p {
    font-size: 1em;
  }
}

@media screen and (max-width: 1200px) {
  .rightside__menubar ul {
    font-size: 8px;
  }
  .leftside__text {
    font-size: 20px;
  }
}
