* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Dosis", "Open Sans", sans-serif;
  font-size: 16px;
}

button {
  cursor: pointer;
}

.welcomescreen {
  position: relative;
}

.leftside__logo img {
  position: absolute;
  z-index: 3;
  width: 50px;
  margin-top: 25px;
  margin-left: 315px;
}

.leftside__text {
  position: absolute;
  z-index: 3;
  color: white;
  font-size: 40px;
  line-height: 60px;
  margin-top: 30vh;
  margin-left: 12vw;
  max-width: 40%;
}

.leftside__text1 {
  font-size: 16px;
  max-width: 70%;
  line-height: 4vh;
}

.rightside__menubar ul {
  position: absolute;
  display: inline-block;
  margin-right: 2vw;
  z-index: 3;
  right: 7vw;
  margin-top: 3vh;
  font-size: 14px;
}

.rightside__menubar li {
  display: inline-block;
  padding: 15px;
}

.rightside__menubar a {
  text-decoration: none;
  color: white;
}

.rightside__menubar a:hover {
  color: #f16522;
}

.rightside__points {
  position: absolute;
  z-index: 3;
  width: 3px;
  font-size: 10px;
  margin-left: 50vw;
  margin-top: 50vh;
}

.rightside__points i {
  margin: 4px;
}

.rightside__points a {
  color: white;
}

.rightside__points a:hover {
  color: #f16522;
}

.rightside__sqr {
  position: absolute;
  z-index: 3;
  margin-left: 48%;
  margin-top: 40%;
}

.background {
  position: relative;
  background-color: #28282e;
  height: 985px;
}

.background__img1 img {
  position: absolute;
  width: 50%;
  height: 985px;
  left: 0;
  top: 0;
  z-index: 2;
}

.background__img2 img {
  position: absolute;
  right: 0;
  opacity: 5%;
}

.clients {
  border: solid 1px black;
  border-right: none;
  border-left: none;
  -webkit-box-shadow: 0 -1px 4px 1px black;
          box-shadow: 0 -1px 4px 1px black;
  position: relative;
  background-color: white;
  width: 100%;
  height: 115px;
  z-index: 2;
}

.clients__menu {
  position: absolute;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #f8f8f8;
  width: 35%;
  padding: 17px;
}

.clients__menu h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  margin-right: 15%;
  margin-top: 10px;
}

.clients__menu p {
  color: #f16522;
  padding-top: 5px;
  font-size: 13px;
  font-family: "Open Sans";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 36%;
}

.clients__menu i {
  margin-left: 5px;
  margin-top: 3px;
}

.clients__logos img {
  position: absolute;
  padding: 20px;
  margin-left: 35%;
  -webkit-filter: grayscale(53);
          filter: grayscale(53);
  opacity: 40%;
}

.hello {
  height: 665px;
  position: relative;
  color: #3d3d3d;
}

.hello__img img {
  position: absolute;
  width: 100%;
}

.hello__h {
  z-index: 2;
  position: absolute;
  margin-left: 50%;
  margin-top: 5%;
  font-size: 25px;
  font-weight: bold;
}

.hello__h h3 {
  text-transform: uppercase;
}

.hello__h p {
  color: #f16522;
}

.hello__p {
  z-index: 2;
  position: absolute;
  margin-left: 50%;
  margin-top: 13%;
  margin-right: 5px;
  font-size: 18px;
  font-family: "Open Sans";
  line-height: 30px;
}

.hello .p1 {
  margin-bottom: 30px;
}

.hello__btns a {
  z-index: 2;
  position: absolute;
  margin-left: 50%;
  margin-top: 25%;
  text-decoration: none;
  color: #fff;
  background-color: #3d3d3d;
  padding: 20px;
  font-family: "Open Sans";
  letter-spacing: 5px;
}
