* {
  margin: 5px;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Dosis", "Open Sans", sans-serif;
  font-size: 16px;
}

button {
  cursor: pointer;
}

.welcomescreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.leftside__logo img {
  position: absolute;
  z-index: 3;
  width: 50px;
  margin-top: 3vh;
  margin-left: 12vw;
}

.leftside__text {
  position: absolute;
  z-index: 3;
  color: white;
  font-size: 40px;
  line-height: 2em;
  margin-top: 30vh;
  margin-left: 12vw;
  max-width: 35%;
}

.leftside__text1 {
  font-size: 16px;
  max-width: 70%;
  line-height: 4vh;
}

.rightside__menubar ul {
  position: absolute;
  margin-right: 2vw;
  z-index: 2;
  right: 5vw;
  margin-top: 3vh;
  font-size: 14px;
}

.rightside__menubar li {
  display: inline-block;
  padding: 15px;
}

.rightside__menubar a {
  text-decoration: none;
  color: white;
}

.rightside__menubar a:hover {
  color: #f16522;
}

.rightside__points {
  position: absolute;
  z-index: 3;
  width: 3px;
  font-size: 10px;
  margin-left: 50vw;
  margin-top: 50vh;
}

.rightside__points i {
  margin: 4px;
}

.rightside__points a {
  color: white;
}

.rightside__points a:hover {
  color: #f16522;
}

.rightside__sqr img {
  position: absolute;
  z-index: 3;
  margin-left: 47.4vw;
  margin-top: 80vh;
}

.background {
  position: relative;
  background-color: #28282e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.background__img1 img {
  position: absolute;
  z-index: 2;
  width: 50vw;
  height: 100%;
}

.background__img2 {
  margin-left: 5vw;
  overflow: hidden;
}

.background__img2 img {
  max-width: 100%;
  opacity: 5%;
}

.clients {
  border: solid 1px black;
  border-right: none;
  border-left: none;
  -webkit-box-shadow: 0 -1px 4px 1px black;
          box-shadow: 0 -1px 4px 1px black;
  background-color: white;
  height: 12vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  overflow: hidden;
}

.clients__menu {
  font-size: 1.5em;
  font-weight: bold;
  background-color: #f8f8f8;
  padding-left: 15vw;
  min-height: 100%;
}

.clients__menu h2 {
  margin-right: 2vw;
  margin-top: 2vh;
}

.clients__menu p {
  color: #f16522;
  font-size: 13px;
  font-family: "Open Sans";
}

.clients__menu i {
  margin-left: 5px;
  margin-top: 3px;
}

.clients__logos {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.clients__logos img {
  padding: 20px;
  -webkit-filter: grayscale(53);
          filter: grayscale(53);
  opacity: 40%;
  max-width: 100%;
  padding-left: 3vw;
}

.hello {
  height: 665px;
  color: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hello__img img {
  position: absolute;
  z-index: -1;
}

.hello__h {
  margin-left: 50vw;
  margin-top: 5%;
  font-size: 25px;
  font-weight: bold;
}

.hello__h h3 {
  text-transform: uppercase;
}

.hello__h p {
  color: #f16522;
}

.hello__p {
  margin-left: 50vw;
  max-width: 600px;
  font-size: 18px;
  font-family: "Open Sans";
  line-height: 30px;
}

.hello .p1 {
  margin-bottom: 30px;
}

.hello__btns {
  max-width: 16vw;
  margin-left: 50vw;
  text-decoration: none;
  color: #fff;
  background-color: #3d3d3d;
  padding: 1vw;
  font-family: "Open Sans";
  letter-spacing: 0.5vw;
}

.hello__btns a {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 1420px) {
  .rightside__menubar ul {
    font-size: 10px;
  }
  .leftside__text {
    font-size: 30px;
    margin-top: 25vh;
  }
  .leftside__text1 {
    font-size: 12px;
    max-width: 90%;
  }
  .clients__menu {
    font-size: 0.8em;
  }
  .clients__menu p {
    font-size: 1em;
  }
  .hello {
    position: absolute;
    z-index: 3;
    height: 665px;
    color: #3d3d3d;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .hello__h {
    font-size: 20px;
  }
  .hello__p {
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
  .rightside__menubar ul {
    font-size: 8px;
  }
  .leftside__text {
    font-size: 20px;
  }
}
