* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
}

body,
input,
button {
}

body {
    font-family: "Dosis", "Open Sans", sans-serif;
    font-size: 16px;
}
button {
    cursor: pointer;
}

.welcomescreen {
    display: flex;
    flex-direction: column;
}

.leftside {
    &__logo img {
        position: absolute;
        z-index: 3;
        width: 50px;
        margin-top: 3vh;
        margin-left: 12vw;
    }

    &__text {
        position: absolute;
        z-index: 3;
        color: white;
        font-size: 40px;
        line-height: 2em;
        margin-top: 30vh;
        margin-left: 12vw;
        max-width: 35%;
    }

    &__text1 {
        font-size: 16px;
        max-width: 70%;
        line-height: 4vh;
    }
}

.rightside {
    &__menubar ul {
        position: absolute;
        margin-right: 2vw;
        z-index: 2;
        right: 5vw;
        margin-top: 3vh;
        font-size: 14px;
    }
    &__menubar li {
        display: inline-block;
        padding: 15px;
    }

    &__menubar a {
        text-decoration: none;
        color: white;
    }
    &__menubar a:hover {
        color: #f16522;
    }

    &__points {
        position: absolute;
        z-index: 3;
        width: 3px;
        font-size: 10px;
        margin-left: 50vw;
        margin-top: 50vh;
    }
    &__points i {
        margin: 4px;
    }
    &__points a {
        color: white;
    }
    &__points a:hover {
        color: #f16522;
    }

    &__sqr img {
        position: absolute;
        z-index: 3;
        margin-left: 47.4vw;
        margin-top: 80vh;
    }
}

.background {
    position: relative;
    background-color: #28282e;
    height: 100vh;

    &__img1 img {
        position: absolute;
        width: 50%;
        height: 985px;
        z-index: 2;
        height: 100%;
    }
    &__img2 {
        margin-left: 10vw;
    }
    &__img2 img {
        opacity: 5%;
        max-width: 100%;
        max-height: 100%;
    }
}
// начало 2
.clients {
    border: solid 1px black;
    border-right: none;
    border-left: none;
    box-shadow: 0 -1px 4px 1px black;
    background-color: white;
    height: 12vh;
    position: relative;
    display: flex;
    justify-content: start;

    &__menu {
        font-size: 1.5em;
        font-weight: bold;
        background-color: #f8f8f8;
        padding-left: 15vw;
        min-height: 100%;
    }
    &__menu h2 {
        margin-right: 2vw;
        margin-top: 2vh;
    }
    &__menu p {
        color: #f16522;
        font-size: 13px;
        font-family: "Open Sans";
    }

    &__menu i {
        margin-left: 5px;
        margin-top: 3px;
    }
    &__logos {
        align-self: center;
    }

    &__logos img {
        padding: 20px;
        filter: grayscale(53);
        opacity: 40%;
        max-width: 100%;
        padding-left: 3vw;
    }
}

.hello {
    position: absolute;
    z-index: 3;
    height: 665px;
    color: #3d3d3d;
    display: inline-flex;

    &__img {
    }
    &__img img {
        width: 100vw;
        max-width: 100%;
    }

    &__h {
        position: absolute;
        margin-left: 50%;
        margin-top: 5%;
        font-size: 25px;
        font-weight: bold;
    }

    &__h h3 {
        text-transform: uppercase;
    }

    &__h p {
        color: #f16522;
    }

    &__p {
        position: absolute;
        margin-left: 50%;
        margin-top: 13%;
        margin-right: 5px;
        font-size: 18px;
        font-family: "Open Sans";
        line-height: 30px;
    }
    .p1 {
        margin-bottom: 30px;
    }
    &__btns {
        position: absolute;
        margin-left: 50vw;
        margin-top: 25%;
        text-decoration: none;
        color: #fff;
        background-color: #3d3d3d;
        padding: 1.5vw;
        font-family: "Open Sans";
        letter-spacing: 0.5vw;
    }
    &__btns a {
        text-decoration: none;
        color: #fff;
    }
}

@media screen and (max-width: 1420px) {
    .rightside {
        &__menubar ul {
            font-size: 10px;
        }
    }
    .leftside {
        &__text {
            font-size: 30px;
            margin-top: 25vh;
        }
        &__text1 {
            font-size: 12px;
            max-width: 90%;
        }
    }
    .clients {
        &__menu {
            font-size: 0.8em;
        }
        &__menu p {
            font-size: 1em;
        }
    }
    .hello {
        position: absolute;
        z-index: 3;
        height: 665px;
        color: #3d3d3d;
        display: inline-flex;

        &__h {
            margin-top: 5vh;
            font-size: 20px;
        }
        &__p {
            margin-top: 13%;
            margin-right: 5vw;
            font-size: 14px;
        }
        &__btns {
        }
    }
}

@media screen and (max-width: 1200px) {
    .rightside {
        &__menubar ul {
            font-size: 8px;
        }
    }
    .leftside {
        &__text {
            font-size: 20px;
        }
    }
}
